Package: openpbs-execution-meta-scripts
Version: 1.0-8
Maintainer: Vaclav Chlumsky <vchlumsky@cesnet.cz>
Section: utils
Architecture: all
Depends: openpbs-execution
Conflicts: pbspro-execution-meta-scripts
Description: Additional scripts to openpbs-execution
